body {
    padding: 50px;
    font-family: Open Sans;
}

.tittleCalc {
    color: black;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 55px;
    line-height: 79px;
    display: flex;
    align-items: flex-end;
}

.calc-wrapper {
    background-color: #fffffb;
    position: relative;
    width: 1000px;
    height: 400px;
    margin: auto;
    border-radius: 1%;
    box-shadow: 6px 0px 18px rgba(255, 255, 255, 0.06);
}

#X {
    width: 86px;
    height: 38px;
    margin: 0 10px;
}

#child01 {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.text {
    font-weight: normal;
    font-size: 24px;
    margin: auto 0;
}

#Y {
    margin: auto;
    margin-left: 10px;
}

#loading {
    display: none;
    margin-left: 12px;
}

#alert {
    margin-left: 105px;
    max-width: 180px;
    font-size: 16px;
    padding: 3px 2px;
    color: #A94442;
    display: none;
    margin-top: 5px;
}